body {
    margin: 0;
    padding: 0;
}

.my-list {
    background-color: #72d615;
    padding: 8px 24px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px #333333;
}

.my-list h1 {
    font-size: 30px;
    margin-top: 0;
}

.my-list .date {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 12px;
    text-align: center;
}

.my-list ol {
    font-size: 24px;
    margin: 12px;
    padding-left: 20px;
}
